<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="d1 - n11 test suite">
	<test name= "d1 tests">
		<classes>
			<class name="com.d1tech.tests.TestHomePage"></class>
			<class name="com.d1tech.tests.TestLoginPage"></class>
		</classes>
		
	</test>
</suite>